/.idea
/nbproject
node_modules
/.git
/localNpmRepo/public
/localNpmRepo/db
/localNpmRepo/ioBroker
/list.html
/localNpmRepo/tools.js
/repositories.njsproj
/typings/
/lib/checker.js
/lib/package.json
/event.json
