name: Check changed adapters

on:
  pull_request:
    types: [opened, edited, ready_for_review, reopened]
  issue_comment:
    types: [created]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm i
      - run: npm run check
        env:
          OWN_GITHUB_TOKEN: ${{ secrets.OWN_GITHUB_TOKEN }}
          GITHUB_REF: ${{ env.GITHUB_REF }}
          GITHUB_EVENT_PATH: ${{ env.GITHUB_EVENT_PATH }}
